*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    color: rgb(83, 83, 83);
}

.container_header
{
    width: 100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 238, 238);
}
.container_navbar
{
    width: 100%;
    height: 75px;
    display: flex;
    z-index: 10;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    background-color: rgb(243, 238, 238)
}

#check_label
{
    display: none;
}
label
{
    width: 30px;
    height: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    display: none;
    cursor: pointer;
}

.line
{
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
}
.ul_list
{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 20px;      
}
.li_list
{
    display: flex;
    margin-right: 20px;
}

.link
{
    text-decoration: none;
    color: inherit;
    transition: .3s ease-in-out;
}
.link:hover
{
    color: black;
}

.container_main
{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
    background-color: rgb(243, 238, 238);
}
.section_profile
{
    width: 90%;
    height: auto;
    display: grid;
    place-items: center;
}
.article_info
{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: flex-start;
}
.info
{
    font-size: 30px;
}
.article_img
{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}
.container_img
{
    width: 100%;
    height: auto;
    padding: 40px;
    display: grid;
    place-items: center;
    grid-gap: 20px;
    grid-template-columns: repeat(2,1fr) 350px;
}
#h_img
{
    align-self: end;
}
#person
{
    width: 100%;
}
.final_section
{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}
.habilities 
{
    display: grid;
    place-items: center;
    padding: 90px 0;
    grid-gap: 20px;
    grid-template-columns: repeat(3,1fr);
}

.habilities span
{
    font-size: 45px;    
}
.habilities hr
{
    grid-column: span 2;
    width: 100%;
    height: 2px;
    background-color: black;
    border: none;
}
.article_cards
{
    width: 100%;
    height: auto;
    display: grid;
    place-items: center;
}
.container_cards
{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-items: center;
    padding: 20px 0;
}
.cards
{
    width: auto;
    height: 100%;
    padding: 20px;
    transition: .3s ease-in-out;
    box-shadow: 5px 5px 10px;
    border-radius: 25px;
    background-color: rgb(236, 229, 229);
}
.cards:hover
{
    transform: translateY(-5px);
    color: black;
}

.real_final_section
{
    width: 100%;
    height: auto;
    padding: 20px 0;
    display: grid;
    place-items: center;
}
.container_real
{
    width: 90%;
    height: auto;
    display: grid;
    place-items: center;
    
}
.text_img{
    width: 90%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(2,1fr);
}
.img_service
{
    width: 80%;
    height: auto;
}

.lol_text
{
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.section_clients
{
    height: 100%;
    height: auto;
    display: grid;
    padding: 20px 0;
    place-items: center;
}
.container_clients
{
    width: 80%;
    height: auto;
    display: grid;
    place-items: center;
    grid-gap: 30px;
    grid-template-columns: repeat(4,1fr);
}
.cards_clients
{
    width: 100%;
    height: auto;
    border-radius: 25px;
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    transition: .3s ease-in-out;
    box-shadow: 5px 5px 10px;
    background-color: rgb(196, 187, 187);
}
.cards_clients:hover
{
    transform: translateY(-5px);
}
.img_clients
{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.text_clients
{
    width: 100%;
    height: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr;
}
  

.container_footer
{
    width: 100%;
    height: 75px;
    display: flex;
    gap: 5px;
    align-items: center;
    justify-content: center;
    background-color: rgb(236, 229, 229);
}

.logo_coulex
{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.coulex{
    font-size: 20px;
    font-weight: bold;
}
.footer_icons
{
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    gap: 10px;
}
.bi
{
    transition: .3s ease-in-out;
}
.bi:hover
{
    font-size: 20px;
}

@media screen and (max-width: 768px) 
{

    .ul_list
    {
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100vw;
        top: 70px; 
        backdrop-filter: blur(4px);
        background-color: rgba(243, 238, 238, .60);
        color: #fff;
        display: flex;
        flex-direction: column;     
        align-items: center; 
        justify-content: flex-start;
        padding: 30px;
        transition: .3s ease-in-out;
    }

    #check_label:checked ~ .ul_list
    {
        left: 0;
    }


    label
{
    width: 20px;
    height: 30px;
    margin: auto 3px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.line
{
    width: 30px;
    height: 4px;
    background-color: #000;
    border-radius: 4px;
    transition: .3s ease-in-out;
}
    #check_label:checked ~ .hamburger .line:nth-child(1)
    {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #check_label:checked ~ .hamburger .line:nth-child(2)
    {
        transform: rotate(-45deg) translate(5px, -5px);
    }
.container_img
{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}
.article_info
{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.info
{
    font-size: 25px;
    text-align: center;
}

.habilities 
{
    display: grid;
    place-items: center;
    padding: 20px 0;
    grid-gap: 20px;
    grid-template-columns: 1fr;
}
.container_cards
{
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    padding: 20px 0;
    gap: 30px;
}
.text_img
{
    width: 90%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}
.lol_text
{
    width: 100%;
    height: 100%;
    padding: 20px;
   
}
#lol_text
{
    display: flex;
    flex-direction: column-reverse;
}

.container_clients
{
    width: 90%;
    height: auto;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
}
.cards_clients
{
   width: 80%;
   height: auto;
   display: grid;
   place-items: center;
   grid-template-columns: 1fr;
   grid-template-rows: 150px 180px;
} 

.img_clients
{
    width: 100%;
    height: 100%;
}
.text_clients
{
    width: 100%;
    height: 100%;
}

.container_footer 
{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(19, 19, 19);
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

}

    
    



